<form>
  <table class='table table-responsive table-striped'>
    <tr>
      <th>
        Description
      </th>
      <th>
        Percentage
      </th>
      <th>
        Grade
      </th>
      <th>
      </th>
    </tr>
    <tr ng-repeat='grade in main.grades'>
      <td>
        <div class="form-group">
          <input type="text" class="form-control" ng-model='grade.description' placeholder='Subject/module'/>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input type="number" min='0' max='100' class="form-control" ng-model='grade.percentage' placeholder='0'/>
        </div>
      </td>
      <td>
        <div class="form-group">
          <input type="number" min='0' max='100' class="form-control" ng-model='grade.grade' placeholder='0'/> <!-- TODO don't call this same name? -->
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="main.removeGrade($index)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan='4'>
        <button type="button" class="btn btn-success add-grade-button" ng-click='main.addGrade()'>
          Add
        </button>
      </td>
    </tr>
    <tr>
      <th colspan='2'>
        Total
      </th>
      <th>
        <div class="form-group">
          <input type="text" class="form-control" readonly value='{{main.overallGrade() | number : 1}}'/>
        </div>
      </th>
    </tr>
  </table>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
